



/* ---- HEADER o ENCABEZADO -------------------- */
.encabezado {
    margin: 0px 15px;
    text-align: center;
} 

 
.menu {
    margin: 0px 15px;
    padding: 5px 10px;
    text-align: center;
    background-color: #0D1B2A;
    padding: 30px;
} 

.menu a {
    color: white;
    text-decoration: none;
} 

.menu i{
    color: white;
} 

 a {
    margin: 0px 15px;
    font-size: 25px;
} 

/* ----- SUB MENÚ -------------------------------- */
.sub-menu {
    margin: 0px 15px 15px;
    padding: 10px 15px;
    background: #1b263a;
} 


.sub-centrado a.izquierda.margen
{
    margin-right: 80px;
} 

.sub-centrado a.izquierda:hover
{
    text-decoration: underline #788daa;  
} 

.sub-centrado .centrado
{
    font-size: 25px;
    color: white;
    text-decoration: none;
} 

a i{
    color: #788daa;
    padding: 6px;
} 

/* ------ FOOTER ---------------------------------- */
.footer {
    margin-top: 25px;
    text-align: center;
    background-color: #006b8393;
} 

/* -------- PERFILES ------------------------------- */







*
{
    box-sizing: border-box;
}



.container
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    padding: 30px;
    cursor: default; 
}

.card
{
   position: relative;
   overflow: hidden;
   width: 23%;
   height: 480px;
   padding: 15px;
   border-radius: 20px;
   background-image: linear-gradient(135deg, #000000 10%, #1B263A 100%);
   box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
   transform-style: preserve-3d;
   transform: perspective(1000);
   display: flex;
   flex-flow: column;
   justify-content: space-around;
   align-items: center;
   margin: 10px;
}
.description
{
    text-align: justify;
    color: white;
    text-align: center;
}

.sub-head
{
    text-align: justify;
    color: rgb(0, 225, 255);
}







