body
/* {
    font-family: monospace;
    background-color: rgb(247, 247, 247);
    font-size: 8px;
} */


/* Todos los BORDERS son provisorios solo para 
tener una mejor visión de los contenedores,
al final los borro */


/* ---- HEADER o ENCABEZADO -------------------- */

.encabezado {
    margin: 0px 15px;
    padding: 5px 5px;
    display: flex;
    flex-direction: row-reverse;
    color: white;
    text-align: center;
    background: #0D1B2A;
}


/*----------------------FIN HEADER---------------*/

.menu {
    margin: 0px 15px;
    padding: 5px 10px;
    text-align: center;
    background-color: #0D1B2A;
    padding: 30px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu i {
    color: white;
}

a {
    margin: 0px 15px;
    font-size: 25px;
}


/* ----- SUB MENÚ -------------------------------- */

.sub-menu {
    margin: 0px 15px 15px;
    padding: 10px 15px;
    background: #1b263a;
}

.sub-centrado a.izquierda {
    font-size: 13px;
    color: white;
    text-decoration: none;
}

.sub-centrado a.izquierda.margen {
    margin-right: 80px;
}

.sub-centrado a.izquierda:hover {
    text-decoration: underline #788daa;
}

.sub-centrado .centrado {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

a i {
    color: #788daa;
    padding: 6px;
}


/* ------ FOOTER ---------------------------------- */

.footer {
    margin-top: 25px;
    text-align: center;
    background-color: #006b8393;
}


/* -------- PERFILES ------------------------------- */

.contanier.perfiles {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30%;
    cursor: default;
}

.imagen {
    /* margin: 0% 37%; */
    position: relative;
    overflow: hidden;
    width: 10%;
    height: 10%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

p {
    /* border: 1px solid grey;
    margin: 10px;
    padding: 10px;
    background-color: rgba(87, 87, 87, 0.522); */
    transform: translateZ(100px);
    text-align: justify;
    text-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
}